
footer.container
  .row.text-center
    .col-12
      p.mt-5.mb-1
        //- | &copy; 2015&thinsp;&ndash;&thinsp;#{new Date().getFullYear()}
        | &copy; 2021&ndash;#{new Date().getFullYear()}
        | Universit채t Potsdam &ndash; Digital Engineering Fakult채t &ndash; Hasso-Plattner-Institut f체r Digital Engineering gGmbH
      small.mt-0.mb-5
        a(href = `https://docs.github.com/en/github/site-policy/github-privacy-statement`).text-muted Datenschutzerkl채rung

  data(hidden value = `${data.revision}`) revision
