
footer.container
  .row.text-center
    .col-12
      p.mt-5.mb-1
        //- | &copy; 2015&thinsp;&ndash;&thinsp;#{new Date().getFullYear()}
        | &copy; #{new Date().getFullYear()}
        | Hasso-Plattner-Institut für Digital Engineering gGmbH
      small.mt-0.mb-5
        a(href = `https://hpi.de/datenschutz.html`).text-muted Datenschutzerklärung

  data(hidden value = `${data.revision}`) revision
