
include placeholder

doctype html
html(lang = 'en')

  include head

  body#page-top(data-spy = 'scroll')

    block vars

    section.container#lecture
      .row.text-center
        .col-12

          .title
            img.img-fluid(src =teaser)
            h2 !{title}

          a(href = `/index.html`) Zurück zu #[strong Vorlesungsübersicht]

    block content

    include footer

  include scripts
