
extends ../partials/lecture.pug

block vars
  - title = '<strong>Beleuchtung</strong> und <strong>Schattierung</strong>';
  - lead = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.';
  - teaser = require('./lighting-shading/fire-life-is-strange.jpg?as=webp');
    
block content

  //- Bootstrap Grid System
  //- https://getbootstrap.com/docs/5.1/layout/grid/
  script
    include ./lighting-shading/zdog.dist.min.js
  script
    include ../scripts/rxjs.umd.min.js
  script
    include ../scripts/webgl-operate.js

  .container
    .row
      .offset-1.col-10

        .alert.alert-primary
          p In dieser Einheit werden die Grundlagen einfacher Beleuchtungstechniken erklärt und eingeordnet.
          hr
          h4 Nach dieser Lehreinheit solltest du&hellip;
          ul.list-unstyled
            li &hellip;die Bedeutung von Beleuchtung für die Computergrafik kennen,
            li &hellip;die Unterschiede zwischen lokalen und globalen Beleuchtungsmodellen erklären können, (shading und shadowing),
            //- li &hellip;verschiedene Lichtquellen-Modelle und deren Unterschiede sowie Anwendungszwecke zuordnen können
            li &hellip;die Bestandteile des Phong-Beleuchtungsmodells kennen.
            //- li &hellip;Schattierungsverfahren kennen.

    .row
      .offset-1.col-10

        .alert.alert-secondary
          h4 Vorwissen
          ul.list-unstyled
            li &hellip;Verständnis für Grundlagen der <b>Vektorrechnung</b> und Anwendungen des Skalarprodukts (wie in der <a href="https://www.youtube.com/watch?v=0yA6XiFQPBQ&list=PLz07lGyH6PZB4Q4l-ZxSfTbTkaa8Muo7z&index=11">Vorlesung</a> besprochen)
          h4 Weiterführendes zu physikalischen Grundlagen
          ul.list-unstyled
            li &hellip;<a href="https://ciechanow.ski/lights-and-shadows/">Lights and Shadows</a> von Bartosz Ciechanowski
            li &hellip;<a href="https://www.youtube.com/watch?v=P6UKhR0T6cs">The Physics of Light and Rendering</a> von John Carmack (QuakeCon 2013)

  section.container
    .row
      .offset-1.col-10
        !=require("./lighting-shading/sec-motivation.md")
  
  section
    !=require("./lighting-shading/zdog_transition.md")

  div.container-dark
    section.container.no-padding
      .row
        .offset-1.col-10
          !=require("./lighting-shading/physical-principles.md")
    section.container.no-padding
      .row
        .offset-1.col-10
          !=require("./lighting-shading/implementation.md")

  script
    include ./lighting-shading/zdog-half-vector.js
  script
    include ./lighting-shading/zdog-demo.js
  script
    include ./lighting-shading/zdog-transition.js
  script
    include ./lighting-shading/gl_lighting_demo.js
  script
    include ./lighting-shading/slider.js  
  


