
extends ../partials/lecture.pug

block vars
  - title = '<strong>Beleuchtung</strong> und <strong>Schattierung</strong>';
  - lead = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.';
  - teaser = require('./lighting-shading/fire-life-is-strange.jpg?as=webp');
    
block content

  //- Bootstrap Grid System
  //- https://getbootstrap.com/docs/5.1/layout/grid/
  script
    include ../scripts/rxjs.umd.min.js
  script
    include ../scripts/webgl-operate.js

  .container
    .row
      .offset-1.col-10

        .alert.alert-primary
          p In dieser Einheit wird gezeigt, wie virtuelle Kameras in der Theorie und in der praktischen Umsetzung funktionieren und wie effizient 3D Szenen aus wohldefinierten Blickwinkeln dargestellt werden können.
          hr
          h4 Nach dieser Lehreinheit solltest Du&hellip;
          ul.list-unstyled
            li &hellip;die Bedeutung von Beleuchtung für die Computergrafik kennen,
            li &hellip;die Unterschiede zwischen lokalen und globalen Beleuchtungsmodellen erklären können, (shading und shadowing),
            li &hellip;verschiedene Lichtquellen-Modelle und deren Unterschiede sowie Anwendungszwecke zuordnen können
            li &hellip;die Bestandteile des phong-Beleuchtungsmodells kennen.
            li &hellip;Schattierungsverfahren kennen.

    .row
      .offset-1.col-10

        .alert.alert-secondary
          h4 Vorwissen
          ul.list-unstyled
            li &hellip;vektormathe
          h4 Weiterführendes
          ul.list-unstyled
            li &hellip;bartosz
            li &hellip;https://www.youtube.com/watch?v=P6UKhR0T6cs

  section.container
    .row
      .offset-1.col-10
        !=require("./lighting-shading/sec-motivation.md")
  
  section
    !=require("./lighting-shading/zdog_transition.md")

  div.container-dark
    section.container.no-padding
      .row
        .offset-1.col-10
          !=require("./lighting-shading/physical-principles.md")
    section.container.no-padding
      .row
        .offset-1.col-10
          !=require("./lighting-shading/implementation.md")

  script
    include ./lighting-shading/zdog.dist.min.js
  script
    include ./lighting-shading/zdog-half-vector.js
  script
    include ./lighting-shading/zdog-demo.js
  script
    include ./lighting-shading/zdog-transition.js


