
extends ../partials/lecture.pug

block vars
  - title = '<strong>Markdown</strong> Test';
  - lead = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.';
  - teaser = '';

block content

  //- Bootstrap Grid System
  //- https://getbootstrap.com/docs/5.1/layout/grid/

  section.container
    .row
      .offset-1.col-10

        !=require("./undefined/test.md")
