
extends ../partials/lecture.pug

block vars
  - title = 'Virtuelle Kameras in der Echtzeit-Computergrafik';
  - lead = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.';

block content

  //- Bootstrap Grid System
  //- https://getbootstrap.com/docs/5.1/layout/grid/

  container
    .row
      .offset-2.col-8
        h3 Abschnitt 1
        p Test 

  container
    .row
      .offset-2.col-8
        h3 Abschnitt 2
        p Test 

